label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
   display:flex;
   margin:0px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: white;
}
/*logo seems to load before rest of page*/
#logo{
    display:flex;
    justify-content: center;
    background-color: black;
    opacity: 75%;
    height:150px;
    font-size:90px;
    padding:10px 0 10px 0;
    margin-top: calc(10vh);

}
.hero p{
    margin-bottom: 0;
}
#left{
    background-image: url(michelle-mcewen-9y3oGBRzu4A-unsplash.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    min-height:calc(100vh);
    max-height:inherit;
    background-position: 40% 50%;
    width:calc(35vw);
    min-width:250px;
}
@font-face{
    font-family:Norse-Bold;
    src: url(Norse-Bold.otf)
}
#logo>p{
    font-family:Norse-Bold;
    color:white;
    margin:auto 0;
    
}

#photoCredit{
    text-align: center;
    color:white;
    width:inherit;
    position:absolute;
    bottom:8px;
}
.inputRow{
    display:flex;
    flex-direction: column;
    margin: 20px 10px 10px 0px;
}
#right{
    width:calc(65vw);

}
#right p{
    font-size:1.5rem;
    font-weight:600;
    margin-left:5%;
}
.hero{
    margin:clamp(10vh, 10vh,200px) auto 10px 0;
    max-width: 850px;
    display:flex;
    flex-direction: column;
}
