@font-face{
    font-family:Norse-Bold;
    src: url(Norse-Bold.otf);
}
@font-face{
    font-family:Roboto;
    src: url(Roboto-Light.ttf);
}
#logo>p{
    font-family:Norse-Bold;
    color:white;
    margin:auto 0;
    
}
label{
    font-family:Roboto;
    font-weight:500;
}
form{
    display: flex;
    flex-wrap: wrap;
    width:calc(50vw);
    margin:1% 5%;
}
body{
   display:flex;
   margin:0px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    background-color:white;
    box-shadow: 0 5px 5px lightgrey;
    margin-top: calc(3.5vh);
    padding-top: calc(.5vh);
    padding-bottom: calc(.5vh);
}

a{
    color: white;
}
/*logo seems to load before rest of page*/
#logo{
    display:flex;
    justify-content: center;
    background-color: black;
    opacity: 75%;
    height:150px;
    font-size:90px;
    padding:10px 0 10px 0;
    margin-top: calc(10vh);

}
.hero p{
    margin-bottom: 0;
    margin-top: calc(2vh);
}
.container p{
    padding-top: 15px;
    margin-top: 15px;
}
#left{
    background-image: url(michelle-mcewen-9y3oGBRzu4A-unsplash.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    min-height:calc(100vh);
    max-height:inherit;
    background-position: 40% 50%;
    width:calc(35vw);
    min-width:250px;
    
}




#photoCredit{
    text-align: center;
    color:white;
    width:inherit;
    position:absolute;
    bottom:8px;
}
input{
    font-size: 1.1rem;
    width:calc(20vw);
}

.inputRow{
    display:flex;
    flex-direction: column;
    margin: 10px 10px 20px 0px;
}
#right{
    width:calc(65vw);
    background-color: whitesmoke;
}
#right p{
    font-size:1.5rem;
    font-weight:600;
    margin-left:5%;
}
.hero{
    margin:clamp(10vh, 10vh,200px) auto 0 0;
    max-width: 850px;
    display:flex;
    flex-direction: column;
    background-color: whitesmoke;
}
