body{
   display:flex;
   margin:0px;
}
a{
    color: white;
}
/*logo seems to load before rest of page*/
#logo{
    display:flex;
    justify-content: center;
    background-color: black;
    opacity: 75%;
    height:150px;
    font-size:90px;
    padding:10px 0 10px 0;
    margin-top: calc(10vh);
}

#left{
    background-image: url(michelle-mcewen-9y3oGBRzu4A-unsplash.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height:calc(100vh);
    background-position: 40% 50%;
    width:calc(35vw);
}
@font-face{
    font-family:Norse-Bold;
    src: url(Norse-Bold.otf)
}
#logo>p{
    font-family:Norse-Bold;
    color:white;
    margin:auto 0;
    
}

#photoCredit{
    text-align: center;
    color:white;
    width:inherit;
    position:absolute;
    bottom:8px;
}